<header class="bg-zinc-800 flex flex-col md:flex-row   p-20 gap-3 text-center md:text-left rounded-xl">
    <div>
        <h1 class="text-5xl font-bold pb-2">Protec your password</h1>
        <p class="py-2 text-lg ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid cum aliquam, vel illo quam velit non at. Et ipsam aspernatur eligendi autem vel unde libero illum nisi culpa, ipsa veritatis!</p>
        <button class="bg-indigo-400 px-3 py-2 hover:bg-indigo-600"> Start</button>
    </div>
    <img src="img/fingerprint.svg" alt="" class="w-80 pt-3" />
</header>
